<!DOCTYPE html>
<html>
<head>
<title>Home | Avilash </title>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: yellow;
}

li a:hover {
  background-color: #111;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>


<header><h2>Hello! Avilash, Here</h2></header>
<p> Welcome to my Homepage </p>
<p>This is my first website. Learning Devops and creating websites. Working with the flow. Hope for more sites to build</p>

<ul>
<li><a href = "https://github.com/avilash21">Github</a></li>
<li><a href = "www.linkedin.com/in/avilashacharya">LinkedIn</a></li>
</ul>


<footer>
</p>@avilash21</p>
</footer>

</body>
</html>
